//- Displays all blogs.
doctype html
html(lang="en")
  head
    include blog/head.jade
    
  body(id='page-top')
  
  //include blog/nav.jade
  
  section
    div(class='container')
      h1 Blogs
      div(class='row')
        div(class='col-md-12')   
          if blogs.length > 0     
            each blog in blogs
              h2 #{blog.title}
              
          else 
            h2 Add a blog post! 
            
        
          
  script(src='https://use.fontawesome.com/3159be91e1.js')
  script(src='https://code.jquery.com/jquery-3.1.0.min.js', integrity='sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=', crossorigin='anonymous')
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js', integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa',crossorigin='anonymous')
      
    
