doctype html
html(lang='en')
  head
    include blog/head.jade
    
  body
    
    section(class='blog-content')
      article
        h1(class='post-title') #{blog.title}
        section(class='post-meta')
        section(class='post-content')
          each paragraph in blog.body
            p paragraph

  script(src='https://use.fontawesome.com/3159be91e1.js')
  script(src='https://code.jquery.com/jquery-3.1.0.min.js', integrity='sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=', crossorigin='anonymous')
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js', integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa',crossorigin='anonymous')
